<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3 class="drp_h">
                <div class="row">
                    <div class="col-md-10">Vehicles</div>
                    <div class="col-md-2">
                        <!-- <ng-select [allowClear]="false"
                                  [active]="[options.selectedStatus]"
                                  [items]="options.statusList"
                                  (selected)="selected($event)"
                                  placeholder="select status">
                        </ng-select> -->
                        <ng-select [items]="options.statusList" [clearable]="false"
                                   [(ngModel)]="options.selectedStatus.text" [searchable]="false" (change)="selected()">
                        </ng-select>
                    </div> 
                    <!-- <div class="col-md-3">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" (click)="getAllUsers()" type="button">Go!</button>
                          </span>
                        </div>
                    </div> -->
                </div>
            </h3>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!vehicles.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" *ngFor="let vehicle of vehicles">
            <!-- <div class="col-md-1">
                <div class="card-img">
                    <img class="img-responsive" [src]="user.image?baseUrl+user.image:userDefaultImage" />
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="">
                	<span class="rah-right">{{vehicle.createdAt | date : 'dd MMMM, yyyy'}}</span>
                    <h5>{{vehicle.owner.fullName | titlecase}}</h5>
                    <p *ngIf="vehicle.owner.mobile">Mobile : {{vehicle.owner.mobile}}</p>
                    <p *ngIf="vehicle.owner.email">Email : {{vehicle.owner.email}}</p>
                    <p *ngIf="vehicle.approveStatus && vehicle.approveStatus">Status : {{vehicle.approveStatus | titlecase}}</p>
                    <p *ngIf="vehicle.vehicleType">Vehicle : {{vehicle.vehicleType.name.en}}</p>
                    <p *ngIf="vehicle.truckNumber">Vehicle Number : {{vehicle.truckNumber}}</p>
                    <p *ngIf="vehicle.registrationNo">Registration Number : {{vehicle.registrationNo}}</p>

                    <a type="button" class="btn block-btn" (click)="openModal(vehicle)" href="javascript:;">View</a>&nbsp;
                    <a type="button" *ngIf="vehicle.approveStatus == 'pending'" class="btn block-btn" (click)="openApprovalModal('approved',vehicle)"  href="javascript:;">Approve</a>&nbsp;
                    <a type="button" class="btn block-btn" *ngIf="vehicle.approveStatus == 'pending'" (click)="openApprovalModal('rejected',vehicle)" href="javascript:;">Reject</a>
                    <!-- <span *ngIf="user.realm == 'vendor' && user.adminVerifiedStatus == 'approved'">
                        <a type="button" *ngIf="user.active" class="btn block-btn" (click)="openActInactModal(false,user)"  href="javascript:;">Block</a>&nbsp;
                        <a type="button" class="btn block-btn" *ngIf="!user.active" (click)="openActInactModal(true,user)" href="javascript:;">Unblock</a>
                    </span>  -->   

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Alert
                </h4>
            </div>
            <form  class="form-horizontal" (submit)="adminApproval(adminApprovalForm)" #adminApprovalForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    Are you sure you want to <span *ngIf="approvalValue=='approved'">approve</span><span  *ngIf="approvalValue!='approved'">reject</span> this vehicle?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="formModal"  role="dialog">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">
           Vehicle Info
       </h4>
   </div>
   <div class="modal-body">
    <table class="table table-hover">
     <tbody>

      <tr *ngIf="selectedVehicle.owner && selectedVehicle.owner.fullName"><th width="38%">Owner Name</th><td>{{selectedVehicle.owner.fullName}}</td></tr>
      <tr *ngIf="selectedVehicle.owner && selectedVehicle.owner.mobile"><th width="38%">Mobile Number</th><td>{{selectedVehicle.owner.mobile}}</td></tr>                    
      <tr *ngIf="selectedVehicle.truckNumber"><th width="38%">Vehicle Number</th><td>{{selectedVehicle.truckNumber}}</td></tr>
      <tr *ngIf="selectedVehicle.tyre"><th>Tyre</th><td>{{selectedVehicle.tyre}}</td></tr>
      <tr *ngIf="selectedVehicle.vehicleType"><th>Vehicle Type</th><td>{{selectedVehicle.vehicleType}}</td></tr>
      <tr *ngIf="selectedVehicle.registrationNo"><th>Registration No.</th><td>{{selectedVehicle.registrationNo}}</td></tr>

      <tr *ngIf="selectedVehicle.RC"><th>RC</th><td><img [src]="baseUrl+selectedVehicle.RC" height="80px"></td></tr>
      <tr *ngIf="selectedVehicle.insurance"><th>Insurance</th><td><img [src]="baseUrl+selectedVehicle.insurance" height="80px"></td></tr>
      <tr *ngIf="selectedVehicle.pollutionCard"><th>Pollution Card</th><td><img [src]="baseUrl+selectedVehicle.pollutionCard" height="80px"></td></tr>
      <tr *ngIf="selectedVehicle.other"><th>Other</th><td><img [src]="baseUrl+selectedVehicle.other" height="80px"></td></tr>

     </tbody>
    </table>
   </div>
   <div class="modal-footer">
      <!--  <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button> -->
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   </div>
  </div>
 </div>
</div>
