<div class="container-min-height" >
    <div class="Page-heading" >
        <h3>
            <div class="row">
                <div class="col-md-11">Material</div>
                <div class="col-md-1">
                    <a type="button" class="btn block-btn" (click)="openModal()"><i class="fa fa-plus"></i></a>
                </div>    
            </div>
        </h3>
    </div>
    <div class="col-lg-12" *ngFor="let material of materials">
        <div class="rah-card-container">
        	<div>
        		<span class="rah-title">{{material.name.en}} ({{material.name.hi}})</span>
        	</div>
        <div>
        <a type="button" class="btn block-btn rah-right" *ngIf="!material.materialTypes.length" (click)="openDelModal(material)" href="javascript:;"><i class="fa fa-times"></i></a>&nbsp;    
        <a type="button" class="btn block-btn rah-right" (click)="openModal(material)" href="javascript:;"><i class="fa fa-edit"></i></a> &nbsp;
        <a type="button" class="btn block-btn rah-right" routerLink="/material-types/{{material.id}}" href="javascript:;"><i class="fa fa-eye"></i></a> 
        <br/>
		<!-- <span *ngIf="material.subTypes && material.subTypes.length">
            <b >Sub Types</b> : {{material.subTypes}} <br />
        </span> -->
        <span>
        	<b>Units</b> : {{material.units}}<br />
        </span>
	</div>
</div>

<div class="modal fade" id="materialModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Material</h4>
            </div>
            <form id="materialForm" (submit)="addMaterial(materialForm)" #materialForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label for="nameEN">Name(EN)</label>
                                            <input type="text" required [(ngModel)]="selectedMaterial.name.en" class="form-control" name="nameEN" id="nameEN" placeholder="Material Name (In English)" #nameEN="ngModel">

                                            <div class="error-div" *ngIf="materialForm.submitted && nameEN.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-6">
                                            <label for="nameHI">Name(HI)</label>
                                            <input type="text" required [(ngModel)]="selectedMaterial.name.hi" class="form-control" name="nameHI" id="nameHI" placeholder="Material Name (In Hindi)" #nameHI="ngModel">

                                            <div class="error-div" *ngIf="materialForm.submitted && nameHI.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="loading">Loading</label>
                                            <input type="number" required [(ngModel)]="selectedMaterial.loading" class="form-control" name="loading" id="loading" placeholder="Loading" #loading="ngModel">
                                            <div class="error-div" *ngIf="materialForm.submitted && loading.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="unloading">Unloading</label>
                                            <input type="number" required [(ngModel)]="selectedMaterial.unloading" class="form-control" name="unloading" id="unloading" placeholder="Unloading" #unloading="ngModel">
                                            <div class="error-div" *ngIf="materialForm.submitted && unloading.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="gst">GST</label>
                                            <input type="number" required [(ngModel)]="selectedMaterial.gst" class="form-control" name="gst" id="gst" placeholder="GST" #gst="ngModel">
                                            <div class="error-div" *ngIf="materialForm.submitted && gst.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>  

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="royalti">Royalty</label>
                                            <input type="number" required [(ngModel)]="selectedMaterial.royalty" class="form-control" name="royalti" id="royalti" placeholder="Royalti" #royalti="ngModel">
                                            <div class="error-div" *ngIf="materialForm.submitted && royalti.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    

                                    <div class="col-md-12 col-sm-12 col-xs-12">    
                                        <h4><span style="margin-left:-15px">Select Units</span></h4>
                                    </div>  
                                    <div class="col-md-12 col-sm-12 col-xs-12">      
                                        <span *ngFor="let unit of defaultUnits">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" [required]="selectedMaterial.units.length" (change)="onCheckboxChange(unit)" [checked]="selectedMaterial.units.indexOf(unit)!=-1" [value]="unit">{{unit}} 
                                            </label>&nbsp;&nbsp;
                                        </span>
                                        <div class="error-div" *ngIf="materialForm.submitted && !selectedMaterial.units.length" >
                                          Please select atleast one unit
                                        </div>
                                        <br />
                                        <!-- <h4>
                                            <span style="margin-left:-15px">Add sub-types</span>
                                            <a type="button" class="btn block-btn rah-right"  (click)="selectedMaterial.subTypes.push('')"><i class="fa fa-plus"></i></a>
                                        </h4><br />
                                        <div class="row" *ngFor="let x of selectedMaterial.subTypes;let i = index; trackBy:trackByIndex;">
                                            <div class=" col-lg-10">
                                                <div class="form-group">
                                                    <label for="brandName">Value</label>
                                                    <input type="text" required="" [(ngModel)]="selectedMaterial.subTypes[i]" class="form-control" name="value{{i+1}}" id="value{{i+1}}" placeholder="Subtype Value">

                                                    <div class="error-div" *ngIf="materialForm.submitted && !selectedMaterial.subTypes[i].length" >
                                                      This field is required
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-2">    
                                                <a type="button" class="btn block-btn rah-btn-top-margin" (click)="selectedMaterial.subTypes.splice(i,1)"><i class="fa fa-minus"></i></a>
                                            </div>    
                                        </div>

                                        <div class="error-div" *ngIf="materialForm.submitted && !isSubTypesUnique" >
                                          Subtypes should be unique
                                        </div> -->

                                    </div>
                                </div>    
                                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="productBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>    
        </div>
    </div>
</div>


<div class="modal fade" id="alertDelMat"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        Are you sure you want to delete this material ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="delMatBtn" data-loading-text="Submit..." type="button" (click)="delMatData()" >Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
        </div>
    </div>
</div>