<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3 class="drp_h">
                <div class="row">
                    <div class="col-md-9">Vehicle Form List</div>
                    <div class="col-md-3" >
                      <ng-select [items]="emitraList" [clearable]="false"
                                 [(ngModel)]="options.selectedUser" bindLabel="firstName" bindValue="id" [searchable]="true" (change)="selected($event)">
                          
                          <ng-template ng-label-tmp let-item="item">
                              {{item.firstName}} {{item.lastName}}
                          </ng-template>       
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            {{item.firstName}} {{item.lastName}}<br />
                            {{item.email}}
                          </ng-template>
                      </ng-select>
                    </div>  
                </div>
            </h3>
            <h5><b>Total Forms : {{options.totalCount}}</b></h5>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!forms.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" [hidden]="!forms.length">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <!-- <th>Address</th> -->
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of forms">
                <td>{{form.ownerOrFirm | titlecase}}</td>
                <td>{{form.contactNo}}</td>
                <td>{{form.email}}</td>
                <!-- <td>
                  <span *ngIf="form.postalAddress">{{form.postalAddress.value}}</span>
                  <span *ngIf="!form.postalAddress">-</span>
                </td> -->
                <td>{{form.createdAt | date : 'dd MMMM, yyyy'}}</td>
                <td><a type="button" class="btn block-btn"  (click)="openModal(form)" href="javascript:;">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>  

        <!-- <div class="row card-row" *ngFor="let form of forms">
            <div class="col-md-12">
                <div class="">
                	<span class="rah-right">{{form.createdAt | date : 'dd MMMM, yyyy'}}</span>
                    
                    <h5>{{form.ownerOrFirm | titlecase}}</h5>
                    <p *ngIf="form.contactNo">Contact Number : {{form.contactNo}}</p>
                    <p *ngIf="form.email">Email : {{form.email}}</p>
                    <p *ngIf="form.address">Address : {{form.postalAddress.value}}</p>
                    <a type="button" class="btn block-btn"  (click)="openModal(form)" href="javascript:;">View</a>
                </div>
            </div>
        </div> -->
        <div class="rah-right">
            <ngb-pagination [collectionSize]="options.totalCount" (pageChange)="changePage()" [(page)]="options.page" [maxSize]="5" [pageSize]="options.limit" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>


<div class="modal fade" id="formModal"  role="dialog">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">
           View Form
       </h4>
   </div>
   <div class="modal-body">
    <table class="table table-hover">
     <tbody>
      <tr *ngIf="selectedForm.ownerOrFirm"><th width="38%">Owner Or Firm</th><td>{{selectedForm.ownerOrFirm}}</td></tr>
      <tr *ngIf="selectedForm.email"><th>Email</th><td>{{selectedForm.email}}</td></tr>
      <tr *ngIf="selectedForm.contactNo"><th>Contact Number</th><td>{{selectedForm.contactNo}}</td></tr>
      <tr *ngIf="selectedForm.whatsAppNo"><th>WhatsApp Number</th><td>{{selectedForm.whatsAppNo}}</td></tr>
      <tr *ngIf="selectedForm.date"><th>Purchase Date</th><td>{{selectedForm.date}}</td></tr>
      <tr *ngIf="selectedForm.fatherName"><th>Father Name</th><td>{{selectedForm.fatherName}}</td></tr>
      <tr *ngIf="selectedForm.model"><th>Make Model</th><td>{{selectedForm.model}}</td></tr>
      <tr *ngIf="selectedForm.rcNo"><th>RC Number</th><td>{{selectedForm.rcNo}}</td></tr>
      <!-- <tr *ngIf="selectedForm.gradPerc"><th>Grade Or Percent</th><td>{{selectedForm.gradPerc}}</td></tr> -->
      <tr *ngIf="selectedForm.vehicleType"><th>Vehicle Type</th><td>{{selectedForm.vehicleType}}</td></tr>			

      <tr><th colspan="2">Address</th></tr>
      <tr *ngIf="selectedForm.city"><th>City</th><td>{{selectedForm.city}}</td></tr>
      <tr *ngIf="selectedForm.district"><th>District</th><td>{{selectedForm.district}}</td></tr>
      <tr *ngIf="selectedForm.state"><th>State</th><td>{{selectedForm.state}}</td></tr>
      <tr *ngIf="selectedForm.tehsil"><th>Tehsil</th><td>{{selectedForm.tehsil}}</td></tr>

      
      <tr *ngIf="selectedForm.signImg"><th>Signature</th>
        <td>
          <a href="javascript:;" (click)="downloadFile((baseUrl+selectedForm.signImg),'sign-img')">
            <img [src]="baseUrl+selectedForm.signImg" height="80px">
          </a>  
        </td>
      </tr>
      <tr *ngIf="selectedForm.vehicleImg"><th>Vehicle Img</th>
          <td>
              <a href="javascript:;" (click)="downloadFile((baseUrl+selectedForm.vehicleImg),'vehicle-img')">
                <img [src]="baseUrl+selectedForm.vehicleImg" height="80px">
              </a> 
            </td>
             
          </tr>

     </tbody>
    </table>
   </div>
   <div class="modal-footer">
      <!--  <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button> -->
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   </div>
  </div>
 </div>
</div>
