<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3  class="drp_h">
                <div class="row">
                    <div class="col-md-9">Dealership Form List</div>
                    <div class="col-md-3" >
                      <ng-select [items]="emitraList" [clearable]="false"
                                 [(ngModel)]="options.selectedUser" bindLabel="firstName" bindValue="id" [searchable]="true" (change)="selected($event)">
                          
                          <ng-template ng-label-tmp let-item="item">
                              {{item.firstName}} {{item.lastName}}
                          </ng-template>       
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            {{item.firstName}} {{item.lastName}}<br />
                            {{item.email}}
                          </ng-template>
                      </ng-select>
                    </div>  
                </div>
            </h3>
            <h5><b>Total Forms : {{options.totalCount}}</b></h5>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!forms.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" [hidden]="!forms.length">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of forms">
                <td>{{form.nameOrFirm | titlecase}}</td>
                <td>{{form.contactNo}}</td>
                <td>{{form.email}}</td>
                <td>{{form.postalAddress.value}}</td>
                <td>{{form.createdAt | date : 'dd MMMM, yyyy'}}</td>
                <td><a type="button" class="btn block-btn"  (click)="openModal(form)" href="javascript:;">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>  

        <!-- <div class="row card-row" *ngFor="let form of forms">
            <div class="col-md-12">
                <div class="">
                	<span class="rah-right">{{form.createdAt | date : 'dd MMMM, yyyy'}}</span>
                    
                    <h5>{{form.nameOrFirm | titlecase}}</h5>
                    <p *ngIf="form.contactNo">Contact Number : {{form.contactNo}}</p>
                    <p *ngIf="form.email">Email : {{form.email}}</p>
                    <p *ngIf="form.address">Address : {{form.postalAddress.value}}</p>
                    <a type="button" class="btn block-btn"  (click)="openModal(form)" href="javascript:;">View</a>
                </div>
            </div>
        </div> -->
        <div class="rah-right">
            <ngb-pagination [collectionSize]="options.totalCount" (pageChange)="changePage()" [(page)]="options.page" [maxSize]="5" [pageSize]="options.limit" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>


<div class="modal fade" id="formModal"  role="dialog">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">
           View Form
       </h4>
   </div>
   <div class="modal-body">
    <table class="table table-hover">
     <tbody>
      <tr *ngIf="selectedForm.nameOrFirm"><th width="38%">Name Or Firm</th><td>{{selectedForm.nameOrFirm}}</td></tr>
      <tr *ngIf="selectedForm.email"><th>Email</th><td>{{selectedForm.email}}</td></tr>
      <tr *ngIf="selectedForm.contactNo"><th>Contact Number</th><td>{{selectedForm.contactNo}}</td></tr>
      <tr *ngIf="selectedForm.bussType && selectedForm.bussType.length"><th>Business Type</th><td>{{selectedForm.bussType}}</td></tr>
      <tr *ngIf="selectedForm.fatherName"><th>Father Name</th><td>{{selectedForm.fatherName}}</td></tr>
      <tr *ngIf="selectedForm.gstNo"><th>GST Number</th><td>{{selectedForm.gstNo}}</td></tr>
      <tr *ngIf="selectedForm.investAmount"><th>Invest Amount</th><td>{{selectedForm.investAmount}}</td></tr>
      <tr *ngIf="selectedForm.otherDetail"><th>Other Details</th><td>{{selectedForm.otherDetail}}</td></tr>
      <tr *ngIf="selectedForm.turnover"><th>Turnover</th><td>{{selectedForm.turnover}}</td></tr>

      <tr *ngIf="selectedForm.postalAddress"><th colspan="2">Postal Address</th></tr>
      <tr *ngIf="selectedForm.postalAddress"><th>City</th><td>{{selectedForm.postalAddress.city}}</td></tr>
      <tr *ngIf="selectedForm.postalAddress"><th>District</th><td>{{selectedForm.postalAddress.district}}</td></tr>
      <tr *ngIf="selectedForm.postalAddress"><th>State</th><td>{{selectedForm.postalAddress.state}}</td></tr>
      <tr *ngIf="selectedForm.postalAddress"><th>Tehsil</th><td>{{selectedForm.postalAddress.tehsil}}</td></tr>

      <tr *ngIf="selectedForm.shopAddress"><th colspan="2">Shop Address</th></tr>
      <tr *ngIf="selectedForm.shopAddress"><th>City</th><td>{{selectedForm.shopAddress.city}}</td></tr>
      <tr *ngIf="selectedForm.shopAddress"><th>District</th><td>{{selectedForm.shopAddress.district}}</td></tr>
      <tr *ngIf="selectedForm.shopAddress"><th>State</th><td>{{selectedForm.shopAddress.state}}</td></tr>
      <tr *ngIf="selectedForm.shopAddress"><th>Tehsil</th><td>{{selectedForm.shopAddress.tehsil}}</td></tr>

      <tr *ngIf="selectedForm.shopImg"><th>Shop Image</th><td><a href="javascript:;" (click)="downloadFile((baseUrl+selectedForm.shopImg),'shop-img')"><img [src]="baseUrl+selectedForm.shopImg" height="80px"></a></td></tr>

     </tbody>
    </table>
   </div>
   <div class="modal-footer">
      <!--  <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button> -->
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   </div>
  </div>
 </div>
</div>
