<div class="container-min-height" >
    <div class="Page-heading" >
        <h3>
            <div class="row" *ngIf="material.name">
                <div class="col-md-11" >{{material.name.en}} ({{material.name.hi}})</div>
                <div class="col-md-1">
                    <a type="button" class="btn block-btn" (click)="openModal()"><i class="fa fa-plus"></i></a>
                </div>    
            </div>
        </h3>
    </div>

    <div class="noDataFound" *ngIf="material && material.materialTypes && !material.materialTypes.length && !isLoad">No data found</div>

    <div *ngIf="material.materialTypes && material.materialTypes.length">
	    <div class="col-lg-12"  *ngFor="let material of material.materialTypes">
	        <div class="rah-card-container">
	        	<div>
	        		<span class="rah-title">{{material.name.en}} ({{material.name.hi}})</span>
	        	</div>
	        	<div>
                    <a type="button" class="btn block-btn rah-right" (click)="openDelModal(material)" href="javascript:;"><i class="fa fa-times"></i></a>
	                <a type="button" class="btn block-btn rah-right" (click)="openModal(material)" href="javascript:;"><i class="fa fa-edit"></i></a>
	                <!-- <a type="button" class="btn block-btn rah-right" routerLink="/material-types/{{material.id}}" href="javascript:;"><i class="fa fa-eye"></i></a> -->
	        		<span *ngIf="material.subTypes && material.subTypes.length">
	                    <b>Sub Types</b> : {{material.subTypes}} 
                    </span>   <br /><br/> 
                    <!-- <span>
                    	<b>Units</b> : {{material.units}}<br />
                    </span> -->
	                
	        	</div>
	        </div>
	    </div>
	</div>    
</div>

<div class="modal fade" id="materialTypeModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Material</h4>
            </div>
            <form id="materialTypeForm" (submit)="addMaterialType(materialTypeForm)" #materialTypeForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="alert alert-danger" *ngIf="errSuccMaterialType.isError" >
                                  {{errSuccMaterialType.errMsg}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label for="nameEN">Name(EN)</label>
                                            <input type="text" required [(ngModel)]="selectedMatType.name.en" class="form-control" name="nameEN" id="nameEN" placeholder="Material Type Name (In English)" #nameEN="ngModel" >

                                            <div class="error-div" *ngIf="materialTypeForm.submitted && nameEN.errors?.required" >
                                              this field is required
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="nameHI">Name(HI)</label>
                                            <input type="text" required [(ngModel)]="selectedMatType.name.hi" class="form-control" name="nameHI" id="nameHI" placeholder="Material Type Name (In Hindi)" #nameHI="ngModel" >

                                            <div class="error-div" *ngIf="materialTypeForm.submitted && nameHI.errors?.required" >
                                              this field is required
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="material.subTypes && material.subTypes.length">    
                                            <h4><span>Select Subtypes</span></h4>
                                        </div>  
                                        <div class="col-md-12 col-sm-12 col-xs-12">      
                                            <!-- <span *ngFor="let subType of material.subTypes">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" (change)="onCheckboxChange(subType)" [checked]="selectedMatType.subTypes.indexOf(subType)!=-1" [value]="subType">{{subType}} 
                                                </label>&nbsp;&nbsp;
                                            </span> -->

                                            <ng-select 
                                                name="subTypeSelect123" 
                                                [items]="subTypesArr"
                                                bindLabel="en"
                                                bindValue="en"
                                                placeholder="Select Sub Type"
                                                [multiple]="true"
                                                [hideSelected]="true"
                                                [searchable]="true"
                                                [clearable]="false"
                                                notFoundText="No subtype found"
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="selectedMatType.subTypes">
                                            </ng-select>

                                        </div> 

                                        <div class="form-group col-lg-12">
                                            <br />
                                            <label for="brandName">Image</label>
                                            <input type="file" class="form-control"  name="materialTypeImg" id="materialTypeImg" rah-file-dir (assignValue)="selectedMatType.file=$event" accept="image/*" placeholder="Image">
                                        </div>

                                        <!-- <div class="error-div" *ngIf="imgSize.isError" >
                                            <span *ngIf="imgSize.error === 'imgNotFound'">
                                                this field is required
                                            </span>
                                            <span *ngIf="imgSize.error === 'sizeError'">
                                                size of image should be {{imgSize.width}} x {{imgSize.height}}
                                            </span>
                                        </div> -->
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="matTypeBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>    
        </div>
    </div>
</div>

<div class="modal fade" id="alertDelMatType"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        Are you sure you want to delete this material ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="delMatTypeBtn" data-loading-text="Submit..." type="button" (click)="delMatTypeData()" >Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
        </div>
    </div>
</div>