.order_list_usr{
	background: #fff;
	padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 1%;
    
}
.div_ordd{
	padding-left: 0px;
	padding-right: 0px;
}
.in_dv{
padding-top: 0;
    border-bottom: 0.5px solid #c7c4c4;
    margin-bottom: 17px;
    padding-bottom: 10px;

}
.in_dv1{
	border-top: 0.5px solid #c7c4c4;
	padding-top: 15px;
}
.in_dv1 .col-md-2 p:hover{
cursor: pointer;
}
.in_dv1 p{
color: #0c549e;
}
.in_dv .col-md-8, .in_dv .col-md-4{
padding: 0;
}
.in_dv .col-md-4 p{
	color: #0c549e;
	    display: inline-block;
    padding-left: 15px;
}
.in_dv .col-md-4 p .fa{
padding-right: 10px;
}
.in_dv h4{
color: #06386b;
    padding-bottom: 5px;
}
/*---popup cmnt---*/
/* The Modal (background) */
.modal_cmnt {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_cmnt {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-content_cmnt h2{
font-size: 22px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close_cmnt {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_cmnt:hover,
.close_cmnt:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header_cmnt {
    padding: 2px 16px;
    background-color: #06386b;
    color: white;
}

.modal-body_cmnt {padding: 2% 5%;
    min-height: 175px;
    }

.modal-footer_cmnt {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* Popup container - can be anything you want */
.popup_cmnt {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup_cmnt .popuptext_cmnt {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup_cmnt .popuptext_cmnt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup_cmnt .show_cmnt {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}