<div class="container-fluid div_ordd">
  <div class="col-md-12 Page-heading">
    <h3>
      <!-- <span *ngIf="userData.firstName && userData.lastName">{{userData.firstName}} {{userData.firstName}}'s </span> -->
      Order List
    </h3>
  </div>
  <div class="noDataFound" *ngIf="!orders.length && !isLoading">No data found</div>
  <div id="loader" *ngIf="isLoading"></div>
  <div class="col-md-12 order_list_usr" *ngFor="let order of orders">
    <div class="col-md-12 in_dv">
      <div class="col-md-8">
        <h4>Order</h4>
        <p>Order Quantity: {{order.orderQuantity}}</p>
        <p>Unit: {{order.unit}}</p>
        <p>Delivery Status: {{order.deliveryStatus}}</p>
      </div>
      <div class="col-md-4">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Order Date: {{order.orderDate | date: 'dd MMMM, yyyy At hh:mm a'}}</p>
        <p *ngIf="order.deliveryDate"><i class="fa fa-calendar" aria-hidden="true"></i> Delivery Date: {{order.deliveryDate | date: 'dd MMMM, yyyy At hh:mm a'}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <p>Materia:&nbsp;&nbsp; {{order.material.name}}</p>
      <p>Vehicle Type: &nbsp;&nbsp;{{order.vehicle.vehicleType.name}}</p>
      <p>Material Type:&nbsp;&nbsp; {{order.materialType.name}} </p>
      <!-- <p>Request Type: &nbsp;&nbsp;book_now</p> -->
    </div>
    <div class="col-md-4">
      <!-- <p>Vehicle: &nbsp;&nbsp;Mahindra Track</p> -->
      <p *ngIf="order.driver">Driver: &nbsp;&nbsp;{{order.driver.firstName}} {{order.driver.lastName}}</p>
      <p *ngIf="order.customer">Customer:&nbsp;&nbsp; {{order.customer.firstName}} {{order.customer.lastName}}</p>
      <!-- <p>Owner: &nbsp;&nbsp;Kabir </p> -->
      <p *ngIf="order.agent">Agent: &nbsp;&nbsp;{{order.agent.firstName}} {{order.agent.lastName}}</p>
    </div>
    <div class="col-md-4">
      <p>Pickup Address: &nbsp;&nbsp;<span *ngIf="order.pickupAddress && order.pickupAddress.street">{{order.pickupAddress.street}}, </span><span *ngIf="order.pickupAddress && order.pickupAddress.formattedAddress">{{order.pickupAddress.formattedAddress}}</span></p>
      <p>Customer Address: &nbsp;&nbsp;<span *ngIf="order.customerAddress && order.customerAddress.street">{{order.customerAddress.street}}, </span><span *ngIf="order.customerAddress && order.customerAddress.formattedAddress">{{order.customerAddress.formattedAddress}}</span></p>
    </div>
    <div class="col-md-12 in_dv1">
      <div class="col-md-4">
        <p>Booking Status: &nbsp;&nbsp;{{order.bookingStatus}}</p>
      </div>
      <div class="col-md-6">
        <p class="popup_cmnt" (click)="myFunction('myPopup_cmnt_'+order.id)">
          Agent Status: &nbsp;&nbsp;
          <span *ngIf="order.agentVerified == 'approved' || order.agentVerified =='true' || order.agentVerified == true">Approved</span> 
          <span *ngIf="order.agentVerified == 'disapproved' || order.agentVerified =='false' || order.agentVerified == false">Disapproved</span>
          <span *ngIf="order.agentVerified == 'pending'">Pending</span>

          <span class="popuptext_cmnt" id="myPopup_cmnt_{{order.id}}">{{order.agentFeedback || 'Not Available'}}</span></p>
      </div>
      <div class="col-md-2">
        <p id="myBtn_cmnt" (click)="onPriceClick(order)">Total Price: &nbsp;&nbsp;&#8377; {{order.price}}
      </div>
    </div>
  </div>

  <div class="rah-right">
    <ngb-pagination [collectionSize]="options.totalCount" (pageChange)="changePage()" [(page)]="options.page" [maxSize]="5" [pageSize]="options.limit" [boundaryLinks]="true"></ngb-pagination>
  </div>
  <!-- Modal content -->


  <div id="myModal_cmnt" class="modal_cmnt">
    <!-- Modal content -->
    <div class="modal-content_cmnt">
      <div class="modal-header_cmnt">
        <span class="close_cmnt" (click)="onCloseBtnClick()">&times;</span>
        <h2>Price Detail</h2>
      </div>
      <div class="modal-body_cmnt" *ngIf="selectedOrder.priceInfo">
        <div class="col-md-4">
          <p>Price: &nbsp;&nbsp;{{selectedOrder.priceInfo.price}}</p>
          <p>Loading: &nbsp;&nbsp; {{selectedOrder.priceInfo.loading}}</p>
          <p>Unloading:&nbsp;&nbsp; {{selectedOrder.priceInfo.unloading}}</p>
          <p>Load KM: &nbsp;&nbsp;{{selectedOrder.priceInfo.loadKM}} </p>
          <p>Unload KM: &nbsp;&nbsp; {{selectedOrder.priceInfo.unloadKM}}</p>
        </div>
        <div class="col-md-4">
          <p>Helper: &nbsp;&nbsp;{{selectedOrder.priceInfo.helper}}</p>
          <p>Royalty: &nbsp;&nbsp; {{selectedOrder.priceInfo.royalty}}</p>
          <p>Toll Tax:&nbsp;&nbsp; {{selectedOrder.priceInfo.tollTax}}</p>
          <p>Driver Salary: &nbsp;&nbsp;{{selectedOrder.priceInfo.driverSalary}}</p>
          <p>Night Stay: &nbsp;&nbsp; {{selectedOrder.priceInfo.nightStay}}</p>
        </div>
        <div class="col-md-4">
          <p>Min Charge: &nbsp;&nbsp;{{selectedOrder.priceInfo.minCharge}}</p>
          <p>Driver Daily Exp: &nbsp;&nbsp; {{selectedOrder.priceInfo.driverDailyExp}}</p>
          <p>Driver Saving:&nbsp;&nbsp; {{selectedOrder.priceInfo.driverSaving}}</p>
          <p>GST Tax Value: &nbsp;&nbsp;{{selectedOrder.priceInfo.gstTaxValue}}</p>
          <p>Total Price: &nbsp;&nbsp; {{selectedOrder.priceInfo.totalPrice}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
