<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3 class="drp_h">
                <div class="row">
                    <div class="col-md-10">{{params.type | titlecase}}</div>
                    <div class="col-md-2" [hidden]="params.type=='webuser'">
                        <!-- <ng-select [allowClear]="false"
                                   [active]="[options.selectedStatus]"
                                   [items]="options.statusList"
                                   (selected)="selected($event)"
                                   placeholder="select status">
                        </ng-select> -->
                        <ng-select [items]="options.statusList" [clearable]="false"
                                   [(ngModel)]="options.selectedStatus.text" [searchable]="false" (change)="selected()">
                        </ng-select>
                    </div> 
                    <!-- <div class="col-md-3">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" (click)="getAllUsers()" type="button">Go!</button>
                          </span>
                        </div>
                    </div> -->
                </div>
            </h3>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!users.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" [hidden]="!users.length">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Created At</th>
                <th *ngIf="params.type != 'webuser'">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createdAt | date : 'dd MMMM, yyyy'}}</td>
                <td *ngIf="params.type != 'webuser'">
                    <a type="button" class="btn block-btn" (click)="openProfileModal(user)" href="javascript:;">View</a>&nbsp;
                    <a type="button" *ngIf="user.adminApproval == 'pending'" class="btn block-btn" (click)="openApprovalModal('approved',user)"  href="javascript:;">Approve</a>&nbsp;
                    <a type="button" class="btn block-btn" *ngIf="user.adminApproval == 'pending'" (click)="openApprovalModal('rejected',user)" href="javascript:;">Reject</a>
                    <a type="button" class="btn block-btn" *ngIf="user.adminApproval == 'approved'" (click)="openDeactivateModal(user)" href="javascript:;">
                        <span *ngIf="user.isDeactivate">Activate</span>
                        <span *ngIf="!user.isDeactivate">Deactivate</span>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>  

        <!-- <div class="row card-row" *ngFor="let user of users">
            <div class="col-md-12">
                <div class="">
                	<span class="rah-right">{{user.createdAt | date : 'dd MMMM, yyyy'}}</span>
                    <h5>{{user.fullName | titlecase}}</h5>
                    <p *ngIf="user.mobile">Name : {{user.firstName}} {{user.lastName}}</p>
                    <p *ngIf="user.mobile">Mobile Number : {{user.mobile}}</p>
                    <p *ngIf="user.email">Email : {{user.email}}</p>
                    <p *ngIf="user.adminApproval">Admin Approval : {{user.adminApproval | titlecase}}</p>
                    <p *ngIf="user.address && user.address.address">Address : {{user.address.address}}</p>
                    <a type="button" *ngIf="user.adminApproval == 'pending'" class="btn block-btn" (click)="openApprovalModal('approved',user)"  href="javascript:;">Approve</a>&nbsp;
                    <a type="button" class="btn block-btn" *ngIf="user.adminApproval == 'pending'" (click)="openApprovalModal('rejected',user)" href="javascript:;">Reject</a>
 
                </div>
            </div>
        </div> -->

        <div class="rah-right">
            <ngb-pagination [collectionSize]="totalCount" (pageChange)="changePage()" [(page)]="page" [maxSize]="5" [pageSize]="limit" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>

<div class="modal fade" id="deactivateModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Alert
                </h4>
            </div>
            <form  class="form-horizontal" (submit)="activeDeactivate(actDeactForm)" #actDeactForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    Are you sure you want to <span *ngIf="selectedUser.isDeactivate">activate</span><span  *ngIf="!selectedUser.isDeactivate">deactivate</span> this agent?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="actDeactBtn" data-loading-text="Submit..." type="submit" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="approveModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                	Alert
                </h4>
            </div>
            <form  class="form-horizontal" (submit)="adminApproval(adminApprovalForm)" #adminApprovalForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    Are you sure you want to {{approvalValue}} this agent?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="formModal"  role="dialog">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">
           Profile
       </h4>
   </div>
   <div class="modal-body">
    <table class="table table-hover">
     <tbody>
      <tr *ngIf="selectedUser.profileImage"><th>Profile Img</th><td><img [src]="baseUrl+selectedUser.profileImage" height="80px"></td></tr>  
      <tr *ngIf="selectedUser.firstName"><th width="38%">First Name</th><td>{{selectedUser.firstName}}</td></tr>
      <tr *ngIf="selectedUser.email"><th width="38%">Email</th><td>{{selectedUser.email}}</td></tr>
      <tr *ngIf="selectedUser.lastName"><th>Last Name</th><td>{{selectedUser.lastName}}</td></tr>
      <tr *ngIf="selectedUser.mobile"><th>Mobile</th><td>{{selectedUser.mobile}}</td></tr>
      <tr *ngIf="selectedUser && selectedUser.shopAddress"><th colspan="2">Shop Address</th></tr>
      <tr *ngIf="selectedUser.shopAddress && selectedUser.shopAddress.value1"><th>Street</th><td>{{selectedUser.shopAddress.value1}}</td></tr>         
      <tr *ngIf="selectedUser.shopAddress && selectedUser.shopAddress.city1"><th>City</th><td>{{selectedUser.shopAddress.city1}}</td></tr>
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.shopAddress.tehsil1"><th>Tehsil</th><td>{{selectedUser.shopAddress.tehsil1}}</td></tr>         
      <tr *ngIf="selectedUser.shopAddress && selectedUser.shopAddress.district1"><th>District</th><td>{{selectedUser.shopAddress.district1}}</td></tr>         
      <tr *ngIf="selectedUser.shopAddress && selectedUser.shopAddress.state1"><th>State</th><td>{{selectedUser.shopAddress.state1}}</td></tr>         

      <tr *ngIf="selectedUser && selectedUser.permanentAddress"><th colspan="2">Permanent Address</th></tr>
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.permanentAddress.value"><th>Street</th><td>{{selectedUser.permanentAddress.value}}</td></tr>         
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.permanentAddress.city"><th>City</th><td>{{selectedUser.permanentAddress.city}}</td></tr>
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.permanentAddress.tehsil"><th>Tehsil</th><td>{{selectedUser.permanentAddress.tehsil}}</td></tr>         
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.permanentAddress.district"><th>District</th><td>{{selectedUser.permanentAddress.district}}</td></tr>         
      <tr *ngIf="selectedUser.permanentAddress && selectedUser.permanentAddress.state"><th>State</th><td>{{selectedUser.permanentAddress.state}}</td></tr>         

     </tbody>
    </table>
   </div>
   <div class="modal-footer">
      <!--  <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button> -->
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   </div>
  </div>
 </div>
</div>
