<div class="container-fluid div_ordd">
  <div class="col-md-12 Page-heading">
    <h3>Product List</h3>
  </div>
  
  <div class="noDataFound" *ngIf="!products.length && !isLoading">No data found</div>
  <div id="loader" *ngIf="isLoading"></div>
  
  <div class="col-md-12 product_list_usr" *ngFor="let product of products">
    <div class="col-md-12 in_dv">
      <div class="col-md-8">
        <h4>{{product.name | titlecase}}</h4>
        <img [src]="product.image ? baseUrl+product.image : 'assets/img/default_product_img.png'">
		  </div>
      <div class="col-md-4">
          <p><i class="fa fa-calendar" aria-hidden="true"></i> Created At: {{product.createdAt|date:'dd MMMM, yyyy At hh:mm a'}}</p>
          <p><i class="fa fa-calendar" aria-hidden="true"></i> Updated At: {{product.updatedAt|date:'dd MMMM, yyyy At hh:mm a'}}</p>
      </div>
    </div>
    <div class="col-md-12 in_dv1">
      <div class="col-md-10">
        <p>Unit:&nbsp;&nbsp; {{product.unit}}</p>
        <p>Material Type:&nbsp;&nbsp; {{product.material.name}}</p>
        <p>Material Type:&nbsp;&nbsp; {{product.materialType.name}}</p>
        <p *ngIf="product.subType">Material Subtype: &nbsp;&nbsp;{{product.subType}}</p>
        <p>Status: &nbsp;&nbsp;{{product.status | titlecase}}</p>
      </div>
      <div class="col-md-2">
        <p>Address/Street: &nbsp;&nbsp;{{product.address.street}}</p>
      </div>
    </div>
    <div class="col-md-12 in_dv2">
      <a href="javascript:;" *ngIf="product.status == 'deactive'" (click)="delProdConfModal(product, 'active')" class="actv_btn">Activate</a>
      <a href="javascript:;" *ngIf="product.status == 'active'" (click)="delProdConfModal(product, 'deactive')" class="actv_btn">Deactivate</a>
      <p>Price: &nbsp;&nbsp;&#8377; {{product.price}}/{{product.unit}}</p>
    </div>
  </div>



  <!-- <div class="col-md-12 product_list_usr">
    <div class="col-md-12 in_dv">
      <div class="col-md-8">
        <h4>LBU BRICKS COMPANY</h4>
        <img src="assets/img/blog-bg.jpg">
      </div>
      <div class="col-md-4">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Created At: 2018-11-05T05:44:15.789Z</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Updated At: 2018-11-05T05:44:15.789Z</p>
      </div>
    </div>
    <div class="col-md-12 in_dv1">
      <div class="col-md-10">
        <p>Unit:&nbsp;&nbsp; BRICKS</p>
        <p>Sub Type: &nbsp;&nbsp;1no</p>
        <p>Material Type:&nbsp;&nbsp; Bricks</p>
        <p>Unit Material Type: &nbsp;&nbsp;Red Clay</p>
      </div>
      <div class="col-md-2">
        <p>Address/Street: &nbsp;&nbsp;Pratap Nagar, Jaipur</p>
      </div>
    </div>
    <div class="col-md-12 in_dv2">
      <p>Price: &nbsp;&nbsp;2.9</p>
    </div>
  </div>
  <div class="col-md-12 product_list_usr">
    <div class="col-md-12 in_dv">
      <div class="col-md-8">
        <h4>LBU BRICKS COMPANY</h4>
        <img src="assets/img/blog-bg.jpg">
      </div>
      <div class="col-md-4">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Created At: 2018-11-05T05:44:15.789Z</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Updated At: 2018-11-05T05:44:15.789Z</p>
      </div>
    </div>
    <div class="col-md-12 in_dv1">
      <div class="col-md-10">
        <p>Unit:&nbsp;&nbsp; BRICKS</p>
        <p>Sub Type: &nbsp;&nbsp;1no</p>
        <p>Material Type:&nbsp;&nbsp; Bricks</p>
        <p>Unit Material Type: &nbsp;&nbsp;Red Clay</p>
      </div>
      <div class="col-md-2">
        <p>Street: &nbsp;&nbsp;Pratap Nagar, Jaipur</p>
      </div>
    </div>
    <div class="col-md-12 in_dv2">
      <p>Price: &nbsp;&nbsp;2.9</p>
    </div>
  </div> -->
</div>

<div class="modal fade" id="delPrdouct"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                  Alert
                </h4>
            </div>
            <form  class="form-horizontal" (submit)="actDeactProduct(adminApprovalForm)" #adminApprovalForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    Are you sure you want to <span *ngIf="status == 'active'">activate</span><span *ngIf="status == 'deactive'">deactivate</span> this prdouct?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="delBtn" data-loading-text="Processing..." type="submit" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>