.product_list_usr{
	background: #fff;
	padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 1%;
    
}
.actv_btn{
	    float: left;
    color: #fff;
    padding: 10px 20px;
    background: #06386b;
    border-radius: 5px;
}
.div_ordd{
	padding-left: 0px;
	padding-right: 0px;
}
.in_dv h4{
color: #06386b;
    padding-bottom: 5px;
}
.in_dv img{
	width: 250px;
	border: 2px solid #424a5d;
	margin-bottom: 1%;
}
.in_dv1{
	border-top: 0.5px solid #c7c4c4;
	padding-top: 15px;
	    margin-top: 1.5%
}
.in_dv1 .col-md-10, .in_dv1 .col-md-2{
padding: 0;
}
.in_dv2 {
padding: 0;
text-align: right;
border-top: 0.5px solid #c7c4c4;
	padding-top: 15px;
	    margin-top: 1.5%
}
.in_dv .col-md-8, .in_dv .col-md-4{
padding: 0;
}
.in_dv2 p{
color: #0c549e;
    padding-right: 3%;
}
.in_dv .col-md-4 p{
	color: #0c549e;
	    display: inline-block;
    padding-left: 15px;
}
.in_dv .col-md-4 p .fa{
padding-right: 10px;
}