<div class="container-min-height" >
    <div class="Page-heading" >
        <h3>
            <div class="row">
                <div class="col-md-12">Change Password</div>
            </div>
        </h3>
    </div>
    <div class="col-lg-12">
        <div class="rah-card-container">
        	
	        <form (submit)="changePassword(cpForm)" #cpForm="ngForm">
	            <div class="alert alert-danger" *ngIf="cpResError.isError">
	                {{cpResError.msg}}
	            </div>
	            <div class="alert alert-success" *ngIf="cpResError.isSuccess">
	                {{cpResError.successMsg}}
	            </div>
	            <div class="row">
	            	<div class="col-sm-6 form-group">
	            		<label for="email">Old Password</label>
		            	<input type="password" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="passObj.oldPassword" [required]="true" name="oldPassword" placeholder="Old Password" #oldPassword="ngModel">

			            <div class="error-div" *ngIf="cpForm.submitted && oldPassword.errors?.required">
			               Old Password is required
			            </div>

					</div>			            
					<div class="col-sm-6 form-group">
	            		<label for="email">New Password</label>
		            	<input type="password" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="passObj.newPassword" [required]="true" name="newPassword" placeholder="New Password" #newPassword="ngModel">

			            <div class="error-div" *ngIf="cpForm.submitted && newPassword.errors?.required">
			               New Password is required
			            </div>

					</div>			            
		        </div>	
		        <div class="row">
		        	<div class="col-sm-12">
		        		<button class="btn btn-theme rah-right"  data-loading-text="submit..." id="cpBtn" type="submit">Submit</button>
		        	</div>	
		        </div>	
		            
	        </form>    


        <div>
	</div>
</div>

