<div class="login-bg">
  <div id="login-page ">
      <div class="container">
        <form class="form-login" (submit)="login(loginForm)" #loginForm="ngForm">
          <h2 class="form-login-heading">sign in now</h2>
          <div class="login-wrap">
              <div class="alert alert-danger" *ngIf="actionError.isError">
                {{actionError.msg}}
              </div>
            	<input type="text" class="form-control" [(ngModel)]="user.mobile" [required]="true" name="mobile" placeholder="Mobile Number" #mobile="ngModel" autofocus>
            	<div class="error-div" *ngIf="loginForm.submitted && mobile.errors?.required">
    	        	Mobile number is required
    	      	</div>
    	      	<!-- <div class="error-div" *ngIf="loginForm.submitted && mobile.errors?.pattern">
    	          	Invalid email
    	      	</div> -->
            <br>
            <input type="password" class="form-control" minlength="6" required [(ngModel)]="user.password" required name="password" placeholder="Password" #password="ngModel">
            <div class="error-div" *ngIf="loginForm.submitted && password.errors?.required">
              Password is required
            </div>
            <div class="error-div" *ngIf="loginForm._submitted && password.errors?.minlength">
              password should be 6 characters long
            </div>
            <label class="checkbox">
              <span class="pull-right">
                  <a href="javascript:;" (click)="openForgetpass();forgetForm.resetForm()"> Forgot Password?</a>
              </span>
            </label>
            <br />
            <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
            <!-- <hr>
            <div class="login-social-link centered">
              <p>or you can sign in via your social network</p>
              <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
              <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
            </div>
            <div class="registration">
              Don't have an account yet?
              <br/>
              <a class="" href="#">
                  Create an account
              </a>
            </div> -->
          </div>
          
        </form>
      </div>
  </div>

  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgetModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Forgot Password ?</h4>
        </div>
        <form (submit)="resetPassSubmit(forgetForm,resOtpForm)" id="rahForgetForm" #forgetForm="ngForm">
            <div class="modal-body">
              <div class="alert alert-danger" *ngIf="actionResError.isError">
                {{actionResError.msg}}
              </div>
              <p>Enter your mobile number below to reset your password.</p>
              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
              <input type="text" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="resetMobile" [required]="true" name="resetMobile" placeholder="Mobile" #resMobile="ngModel">

              <div class="error-div" *ngIf="forgetForm.submitted && resMobile.errors?.required">
                Mobile number is required
              </div>
              <!-- <div class="error-div" *ngIf="forgetForm._submitted && resEmail.errors?.pattern">
                  Invalid email
              </div> -->
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
              <button class="btn btn-theme"  data-loading-text="submit..." id="resetBtn" type="submit">Submit</button>
            </div>
        </form>    
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="resetOtpModal" role="dialog" tabindex="-1" id="resetOtpModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Otp Info</h4>
        </div>
        <form (submit)="checkResetOtp(resOtpForm,cpForm)" #resOtpForm="ngForm">
            <div class="modal-body">
              <div class="alert alert-danger" *ngIf="otpResError.isError">
                {{otpResError.msg}}
              </div>
              <p>Enter your otp below to verify you mobile.</p>
              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
              <input type="text" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="otp" [required]="true" name="resetOtp" placeholder="Enter Otp" #resetOtp="ngModel">

              <div class="error-div" *ngIf="resOtpForm.submitted && resetOtp.errors?.required">
                Otp is required
              </div>
              <!-- <div class="error-div" *ngIf="forgetForm._submitted && resEmail.errors?.pattern">
                  Invalid email
              </div> -->
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
              <button class="btn btn-theme"  data-loading-text="submit..." id="resetOtpBtn" type="submit">Submit</button>
            </div>
        </form>    
      </div>
    </div>
</div>



<div aria-hidden="true" aria-labelledby="cpModal" role="dialog" tabindex="-1" id="cpModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <form (submit)="changePassword(cpForm)" #cpForm="ngForm">
            <div class="modal-body">
              <div class="alert alert-danger" *ngIf="cpResError.isError">
                {{cpResError.msg}}
              </div>
              <div class="alert alert-success" *ngIf="cpResError.isSuccess">
                {{cpResError.successMsg}}
              </div>
              <p>Enter your password below.</p>
              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
              <input type="password" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="passObj.password" [required]="true" name="cpPassword" placeholder="Password" #cpPassword="ngModel">

              <div class="error-div" *ngIf="cpForm.submitted && cpPassword.errors?.required">
                Password is required
              </div><br />

              <input type="password" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="passObj.conPassword" [required]="true" name="cpConPassword" placeholder="Confirm Password" #cpConPassword="ngModel">

              <div class="error-div" *ngIf="cpForm.submitted && cpConPassword.errors?.required">
                Confirm password is required
              </div>
              <!-- <div class="error-div" *ngIf="forgetForm._submitted && resEmail.errors?.pattern">
                  Invalid email
              </div> -->
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
              <button class="btn btn-theme"  data-loading-text="submit..." id="cpBtn" type="submit">Submit</button>
            </div>
        </form>    
      </div>
    </div>
</div>


