<div class="row container-min-height" >
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3>
                <div class="row">
                    <div class="col-md-11">Vehicle Types</div>
                </div>
            </h3>
        </div>    
    </div>
    <div class="container-fluid">
        <div class="row card-row" *ngFor="let vehicleType of vehicleTypes">
            <div class="col-md-1">
                <div class="card-img">
                    <img class="img-responsive" [src]="baseUrl+vehicleType.image">
                </div>
            </div>
            <div class="col-md-5">
                <div class="">
                    <h5>{{vehicleType.name}}</h5>
                    <p>Tyres : <span *ngFor="let x of vehicleType.loadValue;let i = index">{{x.tyres}}<span *ngIf="i!=vehicleType.loadValue.length-1">,</span></span></p>
                    
                </div>
            </div>
            <div class="col-md-6" align="right">
              <a type="button" class="btn block-btn"  routerLink="/vehicle-type-edit/{{vehicleType.id}}" href="javascript:;"><i class="fa fa-edit"></i></a>&nbsp;
            </div>
        </div>
    </div>
</div>


<!-- <div class="container" style="padding-top: 1%; padding-bottom: 0%; padding-left: 2%; padding-right: 2%; background: #efecec; margin-top: 5%;">
  <div class="row list_p" *ngFor="let vehicleType of vehicleTypes">
    <div class="col-md-4 mnh">
      <img [src]="baseUrl+vehicleType.image">
    </div>
 

    <div class="col-md-5 nm_t">
        <h3>{{vehicleType.name}}</h3>
        <div class="col-md-6 col-sm-6"><h5><i class="fa fa-bandcamp" aria-hidden="true"></i>TYERS</h5>
      		<p>
      			<span *ngFor="let x of vehicleType.loadValue;let i = index">{{x.tyres}}<span *ngIf="i!=vehicleType.loadValue.length-1">,</span></span>
        	</p>
     	</div>
     	<div class="col-md-6 col-sm-6">
     		<h5><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>LOADING</h5>
     		<p>4,8</p></div>
     		<div class="col-md-6 col-sm-6">
     			<h5><i class="fa fa-id-card" aria-hidden="true"></i>DRIVER SAVING</h5>
      			<p>4,8</p>
      		</div>
     		<div class="col-md-6 col-sm-6">
     			<h5><i class="fa fa-question-circle" aria-hidden="true"></i>HELPER</h5>
     			<p>4,8</p>
     		</div>
    	</div>
    	<div class="col-md-3 btn_pp">
      		<a routerLink="/vehicle-type-edit/{{vehicleType.id}}">Edit</a>
    	</div>
  	</div>
</div>
 -->