<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3 class="drp_h">
                <div class="row">
                    <div class="col-md-10">{{params.type | titlecase}}</div>
                    <div class="col-md-2" [hidden]="params.type == 'customers'">
                        <!-- <ng-select [allowClear]="false"
                                  [active]="[options.selectedStatus]"
                                  [items]="options.statusList"
                                  (selected)="selected($event)"
                                  placeholder="select status">
                        </ng-select> -->
                        <ng-select [items]="options.statusList" [clearable]="false"
                                   [(ngModel)]="options.selectedStatus.text" [searchable]="false" (change)="selected($event)">
                        </ng-select>

                    </div> 
                    <!-- <div class="col-md-3">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" (click)="getAllUsers()" type="button">Go!</button>
                          </span>
                        </div>
                    </div> -->
                </div>
            </h3>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!users.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" *ngFor="let user of users">
            <!-- <div class="col-md-1">
                <div class="card-img">
                    <img class="img-responsive" [src]="user.image?baseUrl+user.image:userDefaultImage" />
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="">
                	<span class="rah-right">{{user.createdAt | date : 'dd MMMM, yyyy'}}</span>
                    <h5>{{user.fullName | titlecase}}</h5>
                    <p *ngIf="user.mobile">Mobile Number : {{user.mobile}}</p>
                    <p *ngIf="user.email">Email : {{user.email}}</p>
                    <p *ngIf="user.realm != 'user' &&  user.adminApproval">Admin Approval : {{user.adminApproval | titlecase}}</p>
                    <p *ngIf="user.address && user.address.address">Address : {{user.address.address}}</p>
                    <a type="button" class="btn block-btn" (click)="openModal(user)" href="javascript:;">View</a>&nbsp;    
                    <a type="button" class="btn block-btn" *ngIf="user.realm == 'owner' && user.adminApproval == 'approved'" routerLink="/product-list/{{user.id}}" href="javascript:;">View Product</a>&nbsp;    
                    <a type="button" class="btn block-btn" *ngIf="(user.realm == 'owner' || user.realm == 'driver') && user.adminApproval == 'approved'" routerLink="/order-list/{{user.id}}" href="javascript:;">View Orders</a>&nbsp;    
                    <a type="button" *ngIf="user.adminApproval == 'pending'" class="btn block-btn" (click)="openApprovalModal('approved',user)"  href="javascript:;">Approve</a>&nbsp;
                    <a type="button" class="btn block-btn" *ngIf="user.adminApproval == 'pending'" (click)="openApprovalModal('rejected',user)" href="javascript:;">Reject</a>
                   
                </div>
            </div>
        </div>
        <div class="rah-right">
            <ngb-pagination [collectionSize]="totalCount" (pageChange)="changePage()" [(page)]="page" [maxSize]="5" [pageSize]="limit" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>


<div class="modal fade" id="approveModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                	Alert
                </h4>
            </div>
            <form  class="form-horizontal" (submit)="adminApproval(adminApprovalForm)" #adminApprovalForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    Are you sure you want to {{approvalValue}} this user?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="formModal"  role="dialog">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">
           Profile
       </h4>
   </div>
   <div class="modal-body">
    <table class="table table-hover">
     <tbody>
      <tr *ngIf="selectedUser.profileImage"><th>Profile Img</th><td><img [src]="baseUrl+selectedUser.profileImage" height="80px"></td></tr>  
      <tr *ngIf="selectedUser.firstName"><th width="38%">First Name</th><td>{{selectedUser.firstName}}</td></tr>
      <tr *ngIf="selectedUser.lastName"><th>Last Name</th><td>{{selectedUser.lastName}}</td></tr>
      <tr *ngIf="selectedUser.mobile"><th>Mobile</th><td>{{selectedUser.mobile}}</td></tr>
      <tr *ngIf="selectedUser.address"><th>Address</th><td>{{selectedUser.address.address}}</td></tr>
      <tr *ngIf="selectedUser.aadharCard"><th>Adhar Card</th><td><img [src]="baseUrl+selectedUser.aadharCard" height="80px"></td></tr>
      <tr *ngIf="selectedUser.driverLicense"><th>Driver License</th><td><img [src]="baseUrl+selectedUser.driverLicense" height="80px"></td></tr>
      <tr *ngIf="selectedUser.policeVerify"><th>Police Verify</th><td><img [src]="baseUrl+selectedUser.policeVerify" height="80px"></td></tr>

     </tbody>
    </table>
   </div>
   <div class="modal-footer">
      <!--  <button class="btn btn-primary " id="approvalBtn" data-loading-text="Submit..." type="submit" >Yes</button> -->
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   </div>
  </div>
 </div>
</div>
