/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
/*@import "~ng-pick-datetime/assets/style/picker.min.css";*/

/* No Data found text */
  .noDataFound{
    text-align: center;
    padding-top: 70px;
  }
/* No Data found text */

/* @ng-select/ng-select font size small */

.drp_h .ng-select{
    font-size: 15px;
}

/* @ng-select/ng-select font size small */

/* Loading CSS Start here */

#loader {
  position: absolute;
  left: 55%;
  top: 50%;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0; } 
  to { bottom:0px; opacity:1; }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0; } 
  to{ bottom:0; opacity:1; }
}

#myDiv {
  display: none;
  text-align: center;
}


/* Loading CSS End here */



.side-menu-li-text{
    padding-left: 10px;
    color: white;

}

.side-menu-toggle{
    color: white;
    margin-top: -1px;
}

.error-div{
	color:red!important;
	text-align: right;
	margin-top: 0px;
	padding:5px;
}

.no-data-found{
	height:400px;
	width:100%;
	text-align: center;
	line-height: 100px;
}

.container-min-height{
	min-height: 400px;
}

/*body{
	background: url(./../../../assets/img/login-bg.jpg) !important;
}*/


.rah-card-container {
    /*background: #ffff;*/
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.card-img {
    width: 70px;
}
.card-row {
	margin: 5px;
	border-radius: 10px;
    background: #fff;
    padding: 15px;
}

.card-row-modal {
    margin: 5px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
}

.rah-btn-top-margin{
	margin-top: 20px;	
}

.rah-left{
	float: left;
}
.rah-right{
	float: right;
}
.rah-title{
	font-size: 16px;
    font-weight: 400;
}

.pagination-page[_ngcontent-c5] .input-group-addon{
	display: table-cell!important;
}

/* Chitra css for add vehicle type and list vehicle type */

.frm_fld .fm_p{
  width: 46.5% !important;
  float: left;
  margin-right: 3%;
}
.frm_fld .fm_pp{
width: 100% !important;
float: left;
padding-top: 0%;
padding-bottom: 0% !important;
}
.frm_fld .fm_p1{
width: 23.3% !important;
  float: left;
  margin-right: 1%; 
}
.st_f{
  padding: 5% !important;
  background: #d6cfcf;
}

.blnk{
line-height: 1.5;
background: white;
}
.hrt{
  width: 96%;
      float: left;
      border-top: 2px solid white !important;
}
.fgff{
      width: 100% !important;
    text-align: right;
    float: right;
    padding-right: 4%;
    font-size: 30px;
}
.mnh img{
    width: 250px;
}

.list_p{
    background: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 4px;
  margin-bottom: 2%;
}
.nm_t .col-md-6 h5{
color: #353232;
margin-bottom: 1px;
}
.nm_t .col-md-6 h5 .fa{
  color: #2e6a9c !important;
  margin-right: 5px;
}
.nm_t .col-md-6 p{
font-size: 18px;
    margin-left: 15px;
}
.nm_t h3{
color: #2e6a9c;
font-weight: bold;
}
.btn_pp{
padding-top: 5%;
}
.btn_pp a{
padding: 10px 20px;
color: #2e6a9c !important;
    border-radius: 3px; 
        text-decoration: none;
            margin-right: 3%;
            border: 2px solid #2e6a9c;
    font-weight: bold;

}
.btn_pp .rdm1{
background: #1f537d !important;
      color: white !important;  
}
.btn_pp .rdm1:hover{
color: #2e6a9c !important;
background: white !important; 
}
.btn_pp a:hover{
  background: #1f537d !important;
      color: white !important;
          transition: all .3s ease-out !important;
          padding: 12px 20px !important;
}
.list_p:hover{
-webkit-box-shadow: 2px 9px 28px 8px #C1C1C1; 
box-shadow: 2px 9px 28px 8px #C1C1C1;
transition: all .3s ease-out !important;
}
@media only screen and (max-width: 600px) {
.frm_fld .fm_p, .frm_fld .fm_p1{
  width: 95% !important;
}
.list_p{
  padding-top:5% !important;
  padding-bottom:5% !important;
}
.btn_pp {
    
    padding-bottom: 5%;
} 
}
@media only screen and (max-width: 768px) {

.list_p{
  padding-top:5% !important;
  padding-bottom:5% !important;
}
}

/* Chitra css for add vehicle type and list vehicle type */

/* Navbar CSS */

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.page-heading {
    margin-top: 35px;
}
.page-heading h4 {
    background: #e0e0e0;
    padding: 12px 20px;
    font-size: 20px;
    border: 1px solid #c9c3c3;
    color: #767676;
    margin-bottom: 0px;
}
.card ul li a {
    font-size: 15px;
}
.tab-pane {
    font-size: 15px;
}

.sub-menu .down{
    display: none;
}
.active .down{
    display: block;
    float: right;
    padding-right: 10px;
}
.active .right{
    display: none;
}
.sub-menu .right{
    float: right;
    padding-right: 10px;
}

/* Nav bar css */