<div class="row container-min-height">
    <div class="Page-heading" >
        <div class="container-fluid">
            <h3>
                <div class="row">
                    <div class="col-md-11">Sub Type List</div>
                    <div class="col-md-1">
	                    <a type="button" class="btn block-btn" (click)="openModal()"><i class="fa fa-plus"></i></a>
	                </div>    
                </div>
            </h3>
        </div>    
    </div>
    <div class="container-fluid">

        <div class="noDataFound" *ngIf="!subTypes.length && !isLoading">No data found</div>
        <div id="loader" *ngIf="isLoading"></div>

        <div class="row card-row" [hidden]="!subTypes.length">
          <table class="table">
            <thead>
              <tr>
                <th>Name(EN)</th>
                <th>Name(HI)</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let type of subTypes" >
                <td>{{type.name.en | titlecase}}</td>
                <td>{{type.name.hi | titlecase}}</td>
                
                <td>{{type.createdAt | date : 'dd MMMM, yyyy'}}</td>
                <td><a type="button" class="btn block-btn"  (click)="openModal(type)" href="javascript:;">Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>  
        <!-- <div class="rah-right">
            <ngb-pagination [collectionSize]="options.totalCount" (pageChange)="changePage()" [(page)]="options.page" [maxSize]="5" [pageSize]="options.limit" [boundaryLinks]="true"></ngb-pagination>
        </div> -->
    </div>
</div>


<div class="modal fade" id="subTypeModal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                	<span *ngIf="!subType.id">Add</span><span *ngIf="subType.id">Edit</span> Sub Type
                </h4>
            </div>
            <form id="subTypeForm" (submit)="createOrUpdate(subTypeForm)" #subTypeForm="ngForm">
                <div class="modal-body">
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="nameEN">Name(EN)</label>
                                            <input type="text" required [(ngModel)]="subType.name.en" class="form-control" name="nameEN" id="nameEN" placeholder="Name(EN)" #nameEN="ngModel">

                                            <div class="error-div" *ngIf="subTypeForm.submitted && nameEN.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="nameHI">Name(HI)</label>
                                            <input type="text" required [(ngModel)]="subType.name.hi" class="form-control" name="nameHI" id="nameHI" placeholder="Name(HI)" #nameHI="ngModel">

                                            <div class="error-div" *ngIf="subTypeForm.submitted && nameHI.errors?.required" >
                                              This field is required
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="submitBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>    
        </div>
    </div>
</div>
