 
<div class="container" style="padding-top: 5%; padding-bottom: 5%;">

  <div class="row st_f">
      <form (submit)="addVehicleType(vehicleTypeForm)" #vehicleTypeForm="ngForm" class="frm_fld">
          <!-- <div class="form-group fm_p">
            <label for="email">Image: </label>
            <input type="file" class="form-control" id="file">
          </div> -->
          <div class="form-group fm_p">
            <label for="pwd">Name: </label>
            <input type="text" [ngModel]="vehicleType.name" readonly="" required name="name" class="form-control" id="name">
          </div>
          <!-- <div class="form-group fm_p">
            <label for="pwd">Click Image: </label>
            <input type="file" class="form-control" id="file">
          </div>
          <div class="form-group fm_p">
            <label for="pwd">Drive Image: </label>
            <input type="file" class="form-control" id="file">
          </div> -->
          <!-- <div class="form-group fgff" id="demo" onclick="myFunction()" style="padding-top: 2%;">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
          </div> -->
          <hr class="hrt" style="margin-top: 0px;" />

          <div *ngFor="let load of vehicleType.loadValue;let i = index; trackBy:trackByIndex;">
              <div class="hrte">
                  <div class="form-group fm_p1">
                    <label for="tyre{{i}}">Tyres: </label>
                    <input type="number" id="tyre{{i+1}}"  [(ngModel)]="load.tyres"  name="tyre{{i+1}}" id="tyre{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="loading{{i}}">Loading: </label>
                    <input type="number" id="loading{{i+1}}"  [(ngModel)]="load.loading"  name="loading{{i+1}}" id="loading{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="unloading{{i+1}}">Unloading: </label>
                    <input type="number" id="unloading{{i+1}}"  [(ngModel)]="load.unloading"  name="unloading{{i+1}}" id="unloading{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="loadKM{{i+1}}">Load KM: </label>
                    <input type="number" id="loadKM{{i+1}}"  [(ngModel)]="load.loadKM"  name="loadKM{{i+1}}" id="loadKM{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="unloadKM{{i+1}}">Unload KM: </label>
                    <input type="number" id="unloadKM{{i+1}}"  [(ngModel)]="load.unloadKM"  name="unloadKM{{i+1}}" id="unloadKM{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="driverSalary{{i+1}}">Driver Salary: </label>
                    <input type="number" id="driverSalary{{i+1}}"  [(ngModel)]="load.driverSalary"  name="driverSalary{{i+1}}" id="driverSalary{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="driverDailyExp{{i+1}}">Driver Daily Exp: </label>
                    <input type="number" id="driverDailyExp{{i+1}}"  [(ngModel)]="load.driverDailyExp"  name="driverDailyExp{{i+1}}" id="driverDailyExp{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="helper{{i+1}}">Helper: </label>
                    <input type="number" id="helper{{i+1}}"  [(ngModel)]="load.helper"  name="helper{{i+1}}" id="helper{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="gst{{i+1}}">GST: </label>
                    <input type="number" id="gst{{i+1}}"  [(ngModel)]="load.gst"  name="gst{{i+1}}" id="gst{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="royalty{{i+1}}">Royalty: </label>
                    <input type="number" id="royalty{{i+1}}"  [(ngModel)]="load.royalty"  name="royalty{{i+1}}" id="royalty{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="tollTax{{i+1}}">Toll Tax: </label>
                    <input type="number" id="tollTax{{i+1}}"  [(ngModel)]="load.tollTax"  name="tollTax{{i+1}}" id="tollTax{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="driverSaving{{i+1}}">Driver Saving: </label>
                    <input type="number" id="driverSaving{{i+1}}"  [(ngModel)]="load.driverSaving"  name="driverSaving{{i+1}}" id="driverSaving{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="nightStay{{i+1}}">Night Stay: </label>
                    <input type="number" id="nightStay{{i+1}}"  [(ngModel)]="load.nightStay"  name="nightStay{{i+1}}" id="nightStay{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="daily{{i+1}}">Daily: </label>
                    <input type="number" id="daily{{i+1}}"  [(ngModel)]="load.daily"  name="daily{{i+1}}" id="daily{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p1">
                    <label for="minCharge{{i+1}}">Min Charge: </label>
                    <input type="number" id="minCharge{{i+1}}"  [(ngModel)]="load.minCharge"  name="minCharge{{i+1}}" id="minCharge{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_pp">
                      <h2>Min Charge </h2>
                  </div>
                
                  <div class="form-group fm_p">
                    <label for="unitTONmin{{i+1}}">Unit TON Min: </label>
                    <input type="number" id="unitTONmin{{i+1}}"  [(ngModel)]="load.unitTONmin"  name="unitTONmin{{i+1}}" id="unitTONmin{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitTONmax{{i+1}}">Unit TON Max: </label>
                    <input type="number" id="unitTONmax{{i+1}}"  [(ngModel)]="load.unitTONmax"  name="unitTONmax{{i+1}}" id="unitTONmax{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitCUFmin{{i+1}}">Unit CUF Min: </label>
                    <input type="number" id="unitCUFmin{{i+1}}"  [(ngModel)]="load.unitCUFmin"  name="unitCUFmin{{i+1}}" id="unitCUFmin{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitCUFmax{{i+1}}">Unit CUF Max: </label>
                    <input type="number" id="unitCUFmax{{i+1}}"  [(ngModel)]="load.unitCUFmax"  name="unitCUFmax{{i+1}}" id="unitCUFmax{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitBRICKmin{{i+1}}">Unit Brick Min: </label>
                    <input type="number" id="unitBRICKmin{{i+1}}"  [(ngModel)]="load.unitBRICKmin"  name="unitBRICKmin{{i+1}}" id="unitBRICKmin{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitBRICKmax{{i+1}}">Unit Brick Max: </label>
                    <input type="number" id="unitBRICKmax{{i+1}}"  [(ngModel)]="load.unitBRICKmax"  name="unitBRICKmax{{i+1}}" id="unitBRICKmax{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitBAGmin{{i+1}}">Unit Bag Min: </label>
                    <input type="number" id="unitBAGmin{{i+1}}"  [(ngModel)]="load.unitBAGmin"  name="unitBAGmin{{i+1}}" id="unitBAGmin{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitBAGmax{{i+1}}">Unit Bag Max: </label>
                    <input type="number" id="unitBAGmax{{i+1}}"  [(ngModel)]="load.unitBAGmax"  name="unitBAGmax{{i+1}}" id="unitBAGmax{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitLITERmin{{i+1}}">Unit Liter Min: </label>
                    <input type="number" id="unitLITERmin{{i+1}}"  [(ngModel)]="load.unitLITERmin"  name="unitLITERmin{{i+1}}" id="unitLITERmin{{i+1}}" class="form-control">
                  </div>
                  <div class="form-group fm_p">
                    <label for="unitLITERmax{{i+1}}">Unit Liter Max: </label>
                    <input type="number" id="unitLITERmax{{i+1}}"  [(ngModel)]="load.unitLITERmax"  name="unitLITERmax{{i+1}}" id="unitLITERmax{{i+1}}" class="form-control">
                  </div>
              </div>
              <hr class="hrt">
              <!-- <div class="form-group fgff" id="demo" onclick="myFunction()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div> -->
          </div>    

          <div class="form-group fm_p">
            <button class="btn btn-primary " id="vehicleTypeBtn" data-loading-text="Submit..." type="submit" >Submit</button>
          </div>
      </form>
  </div>
</div>